{% include "head.html" with additional_classes="login" title="Login" %}

<header class="header">
    <h1><i class="fal fa-sign-in-alt"></i> Login</h1>

    <hr/>
</header>


<form method="post">
    {% csrf_token %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% for field in form %}
        <div class="row login-fields">

            {{ field.errors }}
            <div class="col-5 text-right label">{{ field.label_tag }}</div>
            <div class="col-4 input">{{ field }}</div>

            <div class="col-12">
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <button class="btn btn-info" type="submit">Log me in!</button>
</form>

{% include "bottom.html" %}
