$background1: #f6f6f6;
$background2: #f1f1f1;
$background3: #faeee7;

$blue1: #40bfc1;
$blue2: #36b5b0;
$blue3: #9dd8c8;

$orange: #ff6f5e;

$yellow1: #fcf5b0;
$yellow2: #bebf30;

$red1: #f0134d;
$red2: #f09595;

$pink1: #ff8ba7;
$pink2: #ffc6c7;

$green1: #c3f0ca;
$green2: #69d16d;
$green3: #00a312;
