@import "tailwind.css";
@import 'variables';

body {
  font-family: 'Rubik', sans-serif;
  background: $background1;
  font-size: 16px;
  padding-top: 1em;
  padding-left: 1em;
}

h1 {
  color: $red1;
}

hr {
  background: $blue1;
}

a {
  color: black;

  &:hover {
    color: $blue1;
    text-decoration: none;
  }
}

i.loading {
  font-size: 5em;
  color: $green2;
}

.wrapper {
  background: white;
  padding: 1em;
  border: solid 1px $orange;
  width: 100vh;
  margin: 0 auto;


  .header {

    .menu {
      font-size: 2em;
      padding-right: 1.5em;

      i {
        color: $orange;
        padding-right: .25em;
        padding-left: .25em;
      }
    }
  }
}

.yes {
  color: $green3;
}

.no {
  color: $red1
}

@import 'login';
@import 'home';
@import 'trip';
