{% include "head.html" %}


    <header class="header">
        <div class="row">
            <div class="col-6">
                <h1>Welcome, {{ name }}</h1>
            </div>

            <div class="col-6 menu text-right">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fal fa-user-cog"></i> Settings</li> |
                    <li class="list-inline-item"><i class="fal fa-sign-out"></i> Logout</li>

                </ul>
            </div>
        </div>

        <hr />
    </header>

    {% include "home/trips.html" %}


{% include "bottom.html" %}