<header class="header">
    <div class="row">
        <div class="col-6">
            <h1>Welcome, {{ name }}</h1>
        </div>

        <div class="col-6 menu text-right">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fal fa-user-cog"></i><a href="/settings">Settings</a>
                </li>
                |
                <li class="list-inline-item">
                    <i class="fal fa-sign-out"></i> <a href="auth/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <hr/>
</header>
